{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Жанры{% endblock %}
{% block content %}

<div class="container p-5">
  <div class='row row-cols-1 row-cols-md-3 g-4'>
    {% for genre in genres %}
        <div class="col">
            <a href="{% url 'films:genre_films' slug=genre.slug %}" class="text-decoration-none text-dark">
        <div class="card h-100 text-center">
            {% thumbnail genre.image "900x900" as im %}
            <img src="{{ im.url }}" class="card-img-top">
            {% endthumbnail %}
            <h5 class="card-title">{{ genre.name }}</h5>
        </div>
                </a>

        </div>
    {% endfor %}
 </div>
</div>


{% endblock %}
